@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.center {
  justify-content: space-between;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px); }

header .row {
  margin: 0;
  padding: 0; }
  header .row .brandForm {
    margin: 0;
    padding: 0; }
    header .row .brandForm .logo__link {
      text-decoration: none; }
    header .row .brandForm .logo .logoHeader {
      color: #222222;
      font-family: Lato;
      font-size: 27px;
      font-weight: 300;
      letter-spacing: 0.68px; }
      header .row .brandForm .logo .logoHeader span {
        font-family: Lato;
        font-size: 27px;
        text-transform: uppercase;
        color: #f16d7f;
        font-weight: 400;
        letter-spacing: 0.68px; }
    header .row .brandForm .headerForm {
      width: 402px;
      height: 38px;
      border-radius: 3px 0 0 3px; }
      header .row .brandForm .headerForm .browse {
        width: 87px;
        height: 38px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #e6e6e6;
        background-color: gainsboro;
        color: #222222;
        Font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px; }
      header .row .brandForm .headerForm .dropdown-menu {
        width: 262px;
        border-radius: 5px;
        background-color: #ffffff; }
        header .row .brandForm .headerForm .dropdown-menu h2 {
          color: #232323;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.35px; }
        header .row .brandForm .headerForm .dropdown-menu p {
          color: #4f4f4f;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.35px;
          margin-left: 10px; }
      header .row .brandForm .headerForm .searchFor {
        width: 280px;
        height: 38px;
        border: 1px solid #e6e6e6;
        color: #a4a4a4;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.35px; }
      header .row .brandForm .headerForm .search {
        width: 38px;
        height: 38px;
        border: 1px solid #e6e6e6; }
  header .row .cartMyAccount .dropdown .cart {
    background-color: #fff;
    border: 0; }
  header .row .cartMyAccount .dropdown .myAccount {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    height: 38px;
    background-color: #f16d7f;
    transition: 0.2; }
    header .row .cartMyAccount .dropdown .myAccount:hover {
      background-color: #ffffff;
      color: #f16d7f;
      transform: scale(1.05); }
  header .row .cartMyAccount .dropdown .dropCart {
    width: 262px;
    height: 440px;
    margin-left: -100px; }
    header .row .cartMyAccount .dropdown .dropCart .products .cartLink {
      text-decoration: none; }
      header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart {
        border-bottom: 1px solid #ededed;
        justify-content: space-between; }
        header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .photoProductCart {
          width: 72px;
          height: 85px; }
        header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .productCartContent {
          height: 60px; }
          header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .productCartContent .headerproductCart {
            color: #222222;
            font-family: Lato;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase; }
          header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .productCartContent .stars {
            width: 56px;
            height: 12px; }
          header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .productCartContent .priceCart {
            color: #f16d7f;
            font-family: Lato;
            font-weight: 400;
            text-transform: uppercase;
            /* Text style for "x" */
            font-size: 10px; }
        header .row .cartMyAccount .dropdown .dropCart .products .cartLink .productCart .krest {
          width: 15px;
          height: 15px;
          margin-top: 13%; }
    header .row .cartMyAccount .dropdown .dropCart .totalPrice {
      margin: 0 auto;
      width: 228px;
      justify-content: space-between; }
      header .row .cartMyAccount .dropdown .dropCart .totalPrice .totalCart {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
      header .row .cartMyAccount .dropdown .dropCart .totalPrice .priceTotal {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
    header .row .cartMyAccount .dropdown .dropCart .buttonsCart {
      margin: 0 auto;
      width: 228px;
      height: 112px;
      justify-content: space-between; }
      header .row .cartMyAccount .dropdown .dropCart .buttonsCart .checkout {
        width: 228px;
        height: 50px;
        color: #f16d7f;
        font-family: Lato;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: #fff;
        border: 1px solid #f16d7f; }
      header .row .cartMyAccount .dropdown .dropCart .buttonsCart .goToCart {
        width: 225px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        text-transform: uppercase;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase; }

.nav {
  margin-left: 0; }
  .nav .collapse .navbar-nav .nav-item1 {
    display: flex;
    align-items: center; }
    .nav .collapse .navbar-nav .nav-item1 .link1 {
      color: #222222;
      font-family: Lato;
      font-size: 14px;
      font-weight: 900;
      line-height: 26px;
      text-transform: uppercase; }
    .nav .collapse .navbar-nav .nav-item1 .dropdownNav {
      background-color: #fff;
      border: 0;
      color: #222222;
      font-family: Lato;
      font-size: 14px;
      font-weight: 900;
      line-height: 26px;
      text-transform: uppercase;
      padding: 0;
      display: flex;
      align-items: center; }
    .nav .collapse .navbar-nav .nav-item1 .womenDropDown {
      left: -115px;
      width: 846px;
      height: 370px;
      justify-content: space-between;
      border: 0; }
      .nav .collapse .navbar-nav .nav-item1 .womenDropDown .card {
        width: 282px;
        height: 360px;
        border: 0; }
        .nav .collapse .navbar-nav .nav-item1 .womenDropDown .card .womenCardTitle {
          margin: 0;
          padding: 0;
          color: #232323;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.35px;
          border-bottom: 1px solid #e8e8e8; }
        .nav .collapse .navbar-nav .nav-item1 .womenDropDown .card .link2 {
          color: #646464;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          /* Text style for "Dresses ," */
          letter-spacing: 0.35px;
          text-decoration: none;
          margin-top: 5%;
          padding: 0; }
      .nav .collapse .navbar-nav .nav-item1 .womenDropDown .cardCenter {
        display: flex;
        flex-direction: column; }
      .nav .collapse .navbar-nav .nav-item1 .womenDropDown .cardRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .nav .collapse .navbar-nav .nav-item1 .womenDropDown .cardRight .bottomRight {
          width: 255px;
          height: 118px;
          background-image: url(../../../assets/img/Layer_42.png);
          justify-content: flex-end;
          align-items: flex-end; }
          .nav .collapse .navbar-nav .nav-item1 .womenDropDown .cardRight .bottomRight .headerBottomRight {
            color: #ffffff;
            font-family: Lato;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            /* Text style for "S, uper  ," */
            letter-spacing: 0.55px; }

.slider {
  max-width: 1600px;
  margin: 0 auto; }
  .slider .leftSlider {
    width: 230px;
    height: 607px;
    background-color: #e8e8e8; }
  .slider .rightSlider {
    width: 230px;
    height: 607px;
    background-color: #e8e8e8; }
  .slider .centrSlider {
    width: 1140px;
    height: 614px;
    background-image: url(../../../assets/img/sliderBG.png); }
    .slider .centrSlider .container .row .contentSlider {
      height: 90px;
      width: 110%;
      margin-top: 40%;
      padding-left: 3%;
      padding-top: 0;
      border-left: 13px solid #f16d7f; }
      .slider .centrSlider .container .row .contentSlider h1 {
        color: #222222;
        font-family: Lato;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 1.5px;
        line-height: 0.7; }
      .slider .centrSlider .container .row .contentSlider h2 {
        color: #222222;
        font-family: Lato;
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px; }
        .slider .centrSlider .container .row .contentSlider h2 span {
          font-family: Lato;
          font-size: 40px;
          font-weight: 900;
          text-transform: uppercase;
          color: #f16d7f;
          letter-spacing: 1px; }

.category .man {
  width: 560px;
  height: 542px;
  background-image: url(../../../assets/img/Layer_30.png); }
  .category .man .headerCategory {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    line-height: 1.3; }
    .category .man .headerCategory span {
      color: #f16d7f;
      font-size: 30px;
      letter-spacing: 0.75px; }
.category .accesories {
  width: 560px;
  min-height: 261px;
  background-image: url(../../../assets/img/Layer_37.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #dadad2; }
  .category .accesories .headerCategory {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    line-height: 1.3; }
    .category .accesories .headerCategory span {
      color: #f16d7f;
      font-size: 30px;
      letter-spacing: 0.75px; }
.category .women {
  width: 560px;
  height: 261px;
  background-image: url(../../../assets/img/Layer_32.png); }
  .category .women .headerCategory {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    line-height: 1.3; }
    .category .women .headerCategory span {
      color: #f16d7f;
      font-size: 30px;
      letter-spacing: 0.75px; }
.category .kids {
  width: 560px;
  height: 542px;
  background-image: url(../../../assets/img/Layer_31.png); }
  .category .kids .headerCategory {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    color: #222222;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-align: left;
    line-height: 1.3; }
    .category .kids .headerCategory span {
      color: #f16d7f;
      font-size: 30px;
      letter-spacing: 0.75px; }

.featuredItems {
  text-align: center; }
  .featuredItems h1 {
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px; }
  .featuredItems p {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    /* Text style for "S, hop for" */
    letter-spacing: 0.35px; }

.cards {
  flex-wrap: wrap; }
  .cards .leftCard,
  .cards .rightCard,
  .cards .centerCard {
    justify-content: space-between;
    max-width: 1140px;
    flex-wrap: wrap; }
    .cards .leftCard .cardLink,
    .cards .rightCard .cardLink,
    .cards .centerCard .cardLink {
      text-decoration: none; }
      .cards .leftCard .cardLink .card,
      .cards .rightCard .cardLink .card,
      .cards .centerCard .cardLink .card {
        width: 261px;
        height: 364px; }
        .cards .leftCard .cardLink .card .card-img-top,
        .cards .rightCard .cardLink .card .card-img-top,
        .cards .centerCard .cardLink .card .card-img-top {
          position: relative;
          height: 281px;
          transition: 0.2s; }
        .cards .leftCard .cardLink .card .backgroundCard,
        .cards .rightCard .cardLink .card .backgroundCard,
        .cards .centerCard .cardLink .card .backgroundCard {
          width: 261px;
          height: 281px;
          display: flex;
          justify-content: center;
          padding-top: 98px;
          position: absolute;
          display: none;
          transition: 0.2s; }
          .cards .leftCard .cardLink .card .backgroundCard .addToCard,
          .cards .rightCard .cardLink .card .backgroundCard .addToCard,
          .cards .centerCard .cardLink .card .backgroundCard .addToCard {
            padding-left: 4%;
            display: flex;
            align-items: center;
            align-content: center;
            width: 123px;
            height: 39px;
            border: 1px solid #ffffff;
            color: #ffffff; }
            .cards .leftCard .cardLink .card .backgroundCard .addToCard .contentCards,
            .cards .rightCard .cardLink .card .backgroundCard .addToCard .contentCards,
            .cards .centerCard .cardLink .card .backgroundCard .addToCard .contentCards {
              margin-left: 7%;
              margin-top: 14%;
              text-align: center;
              color: #ffffff;
              font-family: Lato;
              font-size: 13px;
              font-weight: 700; }
        .cards .leftCard .cardLink .card h5,
        .cards .rightCard .cardLink .card h5,
        .cards .centerCard .cardLink .card h5 {
          color: #222222;
          font-family: Lato;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase; }
        .cards .leftCard .cardLink .card .card-text,
        .cards .rightCard .cardLink .card .card-text,
        .cards .centerCard .cardLink .card .card-text {
          color: #f16d7f;
          font-family: Lato;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase; }
        .cards .leftCard .cardLink .card:hover .backgroundCard,
        .cards .rightCard .cardLink .card:hover .backgroundCard,
        .cards .centerCard .cardLink .card:hover .backgroundCard {
          display: flex; }
        .cards .leftCard .cardLink .card:hover .card-img-top,
        .cards .rightCard .cardLink .card:hover .card-img-top,
        .cards .centerCard .cardLink .card:hover .card-img-top {
          filter: brightness(30%);
          transform: scale(1.05); }

.browseAllProducts {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  /* Text style for "B, rowse A" */
  letter-spacing: 0.4px;
  transition: 0.2s; }
  .browseAllProducts:hover {
    background-color: #ffffff;
    color: #f16d7f;
    transform: scale(1.05); }

.leftOffer {
  background: url(../../../assets/img/fonZatem.png) no-repeat, url(../../../assets/img/Layer_39.png) no-repeat;
  background-size: contain;
  width: 767px;
  height: 529px; }
  .leftOffer .leftOfferContent {
    margin-top: 17%; }
  .leftOffer .headerOffer1 {
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase; }
    .leftOffer .headerOffer1 span {
      font-family: Lato;
      font-size: 54px;
      font-weight: 700;
      text-transform: uppercase;
      /* Text style for "3, 0%" */
      letter-spacing: 1.5px;
      /* Text style for "OFFER" */
      color: #f16d7f;
      letter-spacing: 1.5px;
      letter-spacing: 0.9px; }
  .leftOffer .headerOffer2 {
    /* Style for "30% OFFER" */
    width: 293px;
    height: 78px;
    color: #ffffff;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /* Text style for "FOR WOMEN" */
    font-size: 32px;
    letter-spacing: 0.9px; }

.rightOffer {
  justify-content: center;
  width: 373px;
  height: 529px;
  background-color: #000;
  padding-top: 5%; }
  .rightOffer .boxOffer {
    margin-left: 10%; }
    .rightOffer .boxOffer .imgBox {
      display: block;
      width: 40px;
      height: 40px; }
  .rightOffer .boxOfferContent {
    margin-left: 8%;
    width: 221px;
    height: 106px; }
  .rightOffer .headerBox {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    /* Text style for "Free Deliv" */
    letter-spacing: 0.5px; }
  .rightOffer .textBox {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "W, orldwid" */
    letter-spacing: 0.35px; }

.video {
  width: 1140px;
  height: 500px; }

.productRightOffer {
  justify-content: center;
  height: 341px;
  background-color: #000; }
  .productRightOffer .boxOffer:not(:last-child) {
    margin-right: 10%; }
  .productRightOffer .boxOffer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 308px; }
    .productRightOffer .boxOffer .imgBox {
      display: block;
      width: 40px;
      height: 40px;
      margin-bottom: 10%; }
  .productRightOffer .boxOfferContent {
    text-align: center;
    width: 308px;
    height: 106px; }
  .productRightOffer .headerBox {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    /* Text style for "Free Deliv" */
    letter-spacing: 0.5px;
    margin-bottom: 5%; }
  .productRightOffer .textBox {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "W, orldwid" */
    letter-spacing: 0.1px; }

.subscribe {
  margin: 0 auto;
  max-width: 1600px;
  height: 438px;
  background: url(../../../assets/img/fonGray.png) no-repeat, url(../../../assets/img/Layer_41.png) no-repeat; }
  .subscribe .leftSubscribe {
    height: 438px;
    border-right: 1px solid #fff;
    padding-top: 10%; }
    .subscribe .leftSubscribe .imgLeftSubscribe {
      width: 83px;
      height: 83px; }
    .subscribe .leftSubscribe .contentLeft {
      width: 400px; }
      .subscribe .leftSubscribe .contentLeft .blockquoteLeftContent {
        color: #222224;
        font-family: Lato;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1px; }
      .subscribe .leftSubscribe .contentLeft .leftContentHeader {
        font-family: Lato;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.4px;
        line-height: 26px;
        color: #f16d7f;
        line-height: 14px; }
      .subscribe .leftSubscribe .contentLeft .leftContentText {
        color: #222224;
        font-family: Lato;
        line-height: 26px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.3px;
        line-height: 14px; }
  .subscribe .rightSubscribe {
    justify-content: center; }
    .subscribe .rightSubscribe .formSubscribe {
      justify-content: center;
      align-items: center; }
      .subscribe .rightSubscribe .formSubscribe .contentFormSubscribe {
        text-align: center;
        width: 300px;
        height: 41px;
        justify-content: center; }
        .subscribe .rightSubscribe .formSubscribe .contentFormSubscribe .headerFormSubscribe {
          color: #222224;
          font-family: Lato;
          font-weight: 700;
          font-size: 24px;
          letter-spacing: 0.6px;
          text-transform: uppercase; }
          .subscribe .rightSubscribe .formSubscribe .contentFormSubscribe .headerFormSubscribe .textFormSubscribe {
            color: #222224;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            letter-spacing: 0.35px; }
      .subscribe .rightSubscribe .formSubscribe .inputSubscribe {
        width: 390px;
        height: 46px;
        justify-content: center; }
        .subscribe .rightSubscribe .formSubscribe .inputSubscribe .inputForm {
          width: 280px;
          height: 46px;
          margin-right: 0px;
          border-radius: 23px 0 0 23px;
          padding-left: 5%;
          padding-right: 5%;
          background-color: #e1e1e1;
          border: 1px solid #e1e1e1;
          color: #ffffff;
          font-family: Lato;
          font-size: 14px;
          line-height: 54px;
          letter-spacing: 0.35px; }
        .subscribe .rightSubscribe .formSubscribe .inputSubscribe .btnSubscribe {
          width: 104px;
          height: 46px;
          color: #ffffff;
          margin-left: 0;
          border-radius: 0 23px 23px 0;
          background-color: #f16d7f;
          border: 1px solid #f16d7f;
          justify-content: center;
          align-items: center;
          transition: 0.2s; }
          .subscribe .rightSubscribe .formSubscribe .inputSubscribe .btnSubscribe:hover {
            background-color: #ffffff;
            color: #f16d7f;
            transform: scale(1.05); }

.footerNav {
  margin-top: 10%; }
  .footerNav .brandLeftFooter {
    width: 427px; }
    .footerNav .brandLeftFooter .logo__link {
      text-decoration: none; }
    .footerNav .brandLeftFooter .logoHeader {
      color: #222222;
      font-family: Lato;
      font-size: 27px;
      font-weight: 300;
      letter-spacing: 0.68px; }
      .footerNav .brandLeftFooter .logoHeader span {
        font-family: Lato;
        font-size: 27px;
        text-transform: uppercase;
        color: #f16d7f;
        font-weight: 400;
        letter-spacing: 0.68px; }
  .footerNav .contentLeftFooter .textLeftFooter1 {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.3px; }
  .footerNav .contentLeftFooter .textLeftFooter2 {
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "Objectivel" */
    letter-spacing: 0.35px;
    letter-spacing: 0.3px; }

.rightFooterNav {
  width: 600px;
  justify-content: space-between; }
  .rightFooterNav .columnRightFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .rightFooterNav .columnRightFooter .headerColumn {
      color: #f16d7f;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      /* Text style for "C, OMPANY" */
      letter-spacing: 0.45px;
      margin-bottom: 2em; }
    .rightFooterNav .columnRightFooter .navLinkFooter {
      text-decoration: none; }
      .rightFooterNav .columnRightFooter .navLinkFooter .navColumn {
        color: #898989;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        /* Text style for "Home" */
        letter-spacing: 0.4px;
        line-height: 59px;
        /* Text style for "Shop , Abo" */
        letter-spacing: 0.4px;
        line-height: 42px; }

.footerCopSoc {
  height: 79px;
  background-color: #e6e6e6; }
  .footerCopSoc .containerFooter {
    justify-content: space-between;
    align-items: center;
    width: 1140px; }
    .footerCopSoc .containerFooter .social {
      width: 197px;
      justify-content: space-between; }
      .footerCopSoc .containerFooter .social .socialLink {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        color: #b2b2b2;
        transition: 0.2s; }
        .footerCopSoc .containerFooter .social .socialLink:hover {
          background-color: #f16d7f;
          color: #f7f7f8;
          transform: scale(1.1); }

.ckeckoutMain {
  padding-top: 89px;
  justify-content: space-between; }
  .ckeckoutMain .productNav .navDetails summary {
    width: 243px;
    height: 37px;
    display: block;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    justify-content: space-between; }
  .ckeckoutMain .productNav .navDetails summary::-webkit-details-marker {
    display: none; }
  .ckeckoutMain .productNav .navDetails .navDetailsBlock {
    padding-top: 39px;
    width: 1140px;
    justify-content: flex-start;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 39px; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsLeft {
      margin-right: 293px; }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsLeft .detailsHeader {
        color: #222222;
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase; }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsLeft .detailsText {
        color: #b3b2b2;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left; }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsLeft .inputs {
        align-items: center; }
        .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsLeft .inputs .leftInputHeader {
          color: #222222;
          font-family: Lato;
          font-size: 12px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-transform: uppercase;
          padding-left: 14px;
          align-content: center; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .detailsHeader {
      color: #222222;
      font-family: Lato;
      font-size: 13px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      text-transform: uppercase; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .detailsText {
      color: #b3b2b2;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .detailsRightText {
      color: #ff0d0d;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .inputHeader {
      padding-bottom: 8px;
      color: #222222;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      text-transform: uppercase; }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .inputHeader span {
        color: #ff0d0d; }
    .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .rightBottom {
      align-items: center;
      justify-content: space-between; }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .rightBottom .detailsBtn {
        /* Style for "Rectangle" */
        width: 180px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        margin-right: 32px;
        transition: 0.2s; }
        .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .rightBottom .detailsBtn:hover {
          background-color: #f16d7f;
          color: #ffffff;
          transform: scale(1.1); }
      .ckeckoutMain .productNav .navDetails .navDetailsBlock .detailsRight .rightBottom .forgotPas {
        text-decoration: none;
        color: #222222;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left; }

.catalog {
  max-width: 1607px;
  margin: 0 auto; }
  .catalog__slider {
    width: 1607px;
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: space-between; }
    .catalog__slider .slider__arrowLink {
      text-decoration: none; }
      .catalog__slider .slider__arrowLink .slider__arrow {
        width: 47px;
        height: 47px;
        background-color: #d8d8d8;
        color: #ffffff;
        font-family: "Font Awesome";
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        /* Text style for "," */
        font-style: normal;
        letter-spacing: normal;
        line-height: 2; }
  .catalog__product {
    margin: 0 auto;
    margin-top: -86px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding: 0 262px;
    padding-top: 73px;
    padding-bottom: 122px;
    margin-bottom: 119px; }
    .catalog__product .productHeaders .headerWomenCollection {
      color: #f16d7f;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 1px solid #d8d8d8;
      width: 200px;
      margin: 0 auto;
      padding-bottom: 16px; }
    .catalog__product .productHeaders .headerLine {
      width: 63px;
      height: 2px;
      background-color: #ef5b70;
      margin: 0 auto;
      margin-top: -2px; }
    .catalog__product .productHeaders .headerMoschino {
      padding-top: 16px;
      color: #4d4d4d;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase; }
    .catalog__product .productText {
      color: #5e5e5e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: -0.4px;
      line-height: 24px;
      text-align: center;
      padding-top: 67px; }
    .catalog__product .productSpecifications {
      justify-content: center;
      padding-top: 28px; }
      .catalog__product .productSpecifications .material {
        padding-left: 23px;
        padding-right: 22px;
        justify-content: center; }
        .catalog__product .productSpecifications .material .materialText {
          color: #b9b9b9;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase; }
        .catalog__product .productSpecifications .material .materialProperty {
          color: #2f2f2f;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase; }
      .catalog__product .productSpecifications .designer {
        justify-content: center;
        padding-left: 22px; }
        .catalog__product .productSpecifications .designer .designerText {
          color: #b9b9b9;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase; }
        .catalog__product .productSpecifications .designer .designerProperty {
          color: #2f2f2f;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase; }
    .catalog__product .productPrice {
      margin-right: 48px;
      color: #ef5b70;
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: center;
      /* Text style for "$561" */
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin: 0 auto;
      padding-bottom: 43px; }
    .catalog__product .productParametrs {
      margin: 0 auto;
      padding-top: 63px;
      border-top: 1px solid #d8d8d8;
      width: 537px;
      justify-content: space-between; }
      .catalog__product .productParametrs .productParametr .parametrHeader {
        color: #2f2f2f;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase; }
      .catalog__product .productParametrs .productParametr .parametrSelect {
        justify-content: space-between;
        padding-left: 14px;
        align-items: center;
        width: 144px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        padding-right: 9px; }
        .catalog__product .productParametrs .productParametr .parametrSelect .red {
          padding-left: 11px; }
      .catalog__product .productParametrs .productParametr .quantity {
        align-items: center;
        width: 144px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        text-align: center; }
      .catalog__product .productParametrs .productParametr input[type="number"]::-webkit-outer-spin-button,
      .catalog__product .productParametrs .productParametr input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .catalog__product .productButtonLink {
      text-decoration: none; }
      .catalog__product .productButtonLink .productButton {
        margin: 0 auto;
        margin-top: 28px;
        width: 537px;
        height: 55px;
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        transition: 0.2s; }
        .catalog__product .productButtonLink .productButton .addToCart {
          color: #ef5b70;
          font-family: Lato;
          font-size: 16px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left; }
        .catalog__product .productButtonLink .productButton:hover {
          transform: scale(1.05); }
  .catalog__cards {
    margin-bottom: 73px; }
    .catalog__cards .cardsHeader {
      color: #4d4d4d;
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 72px; }

.productDetails .productHeaders {
  width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #eaeaea; }
  .productDetails .productHeaders .productHeadersLeft .productHeader {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "P, roduct" */
    font-style: normal;
    letter-spacing: -0.2px;
    line-height: normal; }
  .productDetails .productHeaders .productHeadersRight {
    justify-content: space-between; }
    .productDetails .productHeaders .productHeadersRight .productHeader {
      color: #222222;
      font-family: Lato;
      font-size: 13px;
      font-weight: 900;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
      /* Text style for "P, roduct" */
      font-style: normal;
      letter-spacing: -0.2px;
      line-height: normal; }
.productDetails .productsInCart {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0 20px 0;
  justify-content: space-between; }
  .productDetails .productsInCart .productName .productsInCartContent .products__link {
    text-decoration: none; }
  .productDetails .productsInCart .productName .productsInCartContent .productsInCartHeader {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    /* Text style for "Mango  Peo" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; }
  .productDetails .productsInCart .productName .productsInCartContent .productsInCartParametr .productsInCartParametrColor {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    /* Text style for "C, olor:," */
    color: #575757;
    font-family: "Lato - Regular";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; }
    .productDetails .productsInCart .productName .productsInCartContent .productsInCartParametr .productsInCartParametrColor span {
      font-family: Lato;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      font-family: "Lato - Regular";
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
  .productDetails .productsInCart .productName .productsInCartContent .productsInCartParametr .productsInCartParametrSize {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    /* Text style for "C, olor:," */
    color: #575757;
    font-family: "Lato - Regular";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; }
    .productDetails .productsInCart .productName .productsInCartContent .productsInCartParametr .productsInCartParametrSize span {
      font-family: Lato;
      font-weight: 300;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      font-family: "Lato - Regular";
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
  .productDetails .productsInCart .productSpecification {
    align-items: center; }
    .productDetails .productsInCart .productSpecification .unitePrice {
      margin-right: 126px;
      color: #656565;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left;
      /* Text style for "$150" */
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
    .productDetails .productsInCart .productSpecification .quantity {
      margin-right: 106px;
      width: 54px;
      height: 30px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      justify-content: center;
      color: #656565;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      /* Text style for "2," */
      font-style: normal;
      letter-spacing: normal;
      line-height: 2; }
    .productDetails .productsInCart .productSpecification input[type="number"]::-webkit-outer-spin-button,
    .productDetails .productsInCart .productSpecification input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .productDetails .productsInCart .productSpecification .shipping {
      margin-right: 118px;
      text-align: center;
      color: #656565;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
      /* Text style for "FREE" */
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
    .productDetails .productsInCart .productSpecification .subtotal {
      margin-right: 123px;
      color: #656565;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left;
      /* Text style for "$300" */
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
  .productDetails .productsInCart .action {
    transition: 0.2; }
    .productDetails .productsInCart .action:hover {
      transform: scale(1.3); }
.productDetails .productsButtons {
  justify-content: space-between; }
  .productDetails .productsButtons .clearShoppingCart,
  .productDetails .productsButtons .continueShopping {
    width: 225px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    /* Text style for "cONTINUE s" */
    font-style: normal;
    text-align: center;
    transition: 0.2s; }
    .productDetails .productsButtons .clearShoppingCart:hover,
    .productDetails .productsButtons .continueShopping:hover {
      background-color: #f16d7f;
      color: #ffffff;
      transform: scale(1.05); }

.productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressHeader {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase; }
.productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressCity {
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-right: 12px; }
  .productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressCity .productsFormLeftShippingAdressInput {
    border: 0;
    border-bottom: 1px solid #eaeaea;
    padding-left: 18px;
    height: 44px; }
  .productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressCity .arrowDownLink {
    text-decoration: none; }
    .productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressCity .arrowDownLink img {
      width: 9px;
      height: 6px; }
.productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressInput {
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px; }
.productsForm .productsFormLeft .productsFormLeftShippingAdress :not(:first-child) {
  margin-top: 20px; }
.productsForm .productsFormLeft .productsFormLeftShippingAdress .productsFormLeftShippingAdressButton {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase; }
.productsForm .productsFormLeft .productsFormLeftCouponDiscount {
  margin-left: 35px; }
  .productsForm .productsFormLeft .productsFormLeftCouponDiscount .productsFormLeftCouponDiscountHeader {
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase; }
  .productsForm .productsFormLeft .productsFormLeftCouponDiscount .productsFormLeftCouponDiscountText {
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px; }
  .productsForm .productsFormLeft .productsFormLeftCouponDiscount .productsFormLeftCouponDiscountInput {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 25px; }
  .productsForm .productsFormLeft .productsFormLeftCouponDiscount .productsFormLeftCouponDiscountButton {
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase; }
.productsForm .productsFormRight {
  padding: 42px;
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  align-self: center;
  margin-left: 36px; }
  .productsForm .productsFormRight .productsFormRightTotal {
    align-items: flex-end;
    padding-bottom: 22px;
    margin-bottom: 17px;
    border-bottom: 1px solid #e2e2e2;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase; }
    .productsForm .productsFormRight .productsFormRightTotal .subTotal {
      width: 100px;
      justify-content: space-between; }
      .productsForm .productsFormRight .productsFormRightTotal .subTotal .subTotalHeader {
        color: #4a4a4a;
        font-family: Lato;
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase; }
      .productsForm .productsFormRight .productsFormRightTotal .subTotal .subtotalPrice {
        color: #4a4a4a;
        font-family: Lato;
        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase; }
    .productsForm .productsFormRight .productsFormRightTotal .grandTotal {
      width: 165px;
      justify-content: space-between; }
      .productsForm .productsFormRight .productsFormRightTotal .grandTotal .grandTotalHeader {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase; }
      .productsForm .productsFormRight .productsFormRightTotal .grandTotal .grandTotalPrice {
        color: #f16d7f;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase; }
  .productsForm .productsFormRight .proceedToCheckout {
    /* Style for "Rectangle" */
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s; }
    .productsForm .productsFormRight .proceedToCheckout:hover {
      background-color: #ffffff;
      color: #f16d7f;
      transform: scale(1.05); }

.breadCrumbs {
  height: 148px;
  background-color: #f8f3f4;
  align-items: center; }
  .breadCrumbs .breadCrumbsHeader {
    color: #f16d7f;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }
  .breadCrumbs .breadcrumb {
    background-color: #f8f3f4; }
    .breadCrumbs .breadcrumb .breadcrumbLink {
      text-decoration: none;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      /* Text style for "Home / Men" */
      color: darkgray; }
    .breadCrumbs .breadcrumb .breadcrumbLinkActive {
      color: #f16d7f;
      font-family: Lato;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase; }

.mainProduct {
  justify-content: space-between;
  margin-bottom: 8%; }
  .mainProduct .productNav .navDetails[open] > summary::after {
    content: '\25B2'; }
  .mainProduct .productNav .navDetails summary {
    width: 243px;
    height: 37px;
    display: block;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase;
    justify-content: space-between;
    border-left: 5px solid #ef5b70; }
  .mainProduct .productNav .navDetails summary::-webkit-details-marker {
    display: none; }
  .mainProduct .productNav .navDetails summary::after {
    content: '\25BC';
    padding-left: 0.5em; }
  .mainProduct .productNav .navDetails .navDetailsLinks {
    margin-left: 7%; }
    .mainProduct .productNav .navDetails .navDetailsLinks .navDetailsLink {
      text-decoration: none;
      color: #6f6e6e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 33px; }
  .mainProduct .productRight {
    width: 800px; }
    .mainProduct .productRight .productRightForm .formParameters {
      justify-content: space-between; }
      .mainProduct .productRight .productRightForm .formParameters .parametr {
        width: 263px; }
        .mainProduct .productRight .productRightForm .formParameters .parametr .parametrHeader {
          color: #6f6e6e;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase; }
        .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentPrice {
          width: 263px; }
          .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentPrice .parametrRange {
            color: #f16d7f; }
          .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentPrice .parametrContentBottom {
            justify-content: space-between; }
            .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentPrice .parametrContentBottom .parametrContentBottomPrice {
              color: #6f6e6e;
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 26px;
              text-align: left;
              /* Text style for "$, 400" */
              font-style: normal;
              letter-spacing: normal;
              line-height: normal; }
        .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContent {
          flex-wrap: wrap;
          width: 176px; }
          .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContent .trendingNowTextLink {
            text-decoration: none;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px; }
          .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContent .trendingNowTextCenter {
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf; }
        .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentSize1 {
          width: 235px;
          align-items: center; }
          .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentSize1 .contentSize {
            width: 45px;
            margin-right: 10px; }
            .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentSize1 .contentSize .contentCheckbox:not(:last-child) {
              margin-right: 5px; }
            .mainProduct .productRight .productRightForm .formParameters .parametr .parametrContentSize1 .contentSize .sizeText {
              color: #6f6e6e;
              font-family: Lato;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 20px;
              text-align: left;
              text-transform: uppercase;
              /* Text style for "X, S" */
              font-style: normal;
              letter-spacing: normal;
              line-height: normal; }
    .mainProduct .productRight .cardBottom {
      justify-content: space-between;
      align-items: center; }
      .mainProduct .productRight .cardBottom .pages {
        padding-left: 1%;
        padding-right: 1%;
        justify-content: space-around;
        align-items: center;
        width: 261px;
        height: 44px;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        background-color: #ffffff; }
        .mainProduct .productRight .cardBottom .pages .numbers {
          width: 70%;
          align-items: center;
          justify-content: space-around; }
          .mainProduct .productRight .cardBottom .pages .numbers .pagesNumber {
            text-decoration: none;
            color: #c4c4c4;
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            letter-spacing: normal;
            line-height: 26px;
            text-align: left;
            /* Text style for "1," */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            /* Text style for "2     3" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal; }
          .mainProduct .productRight .cardBottom .pages .numbers .active {
            color: #f16d7f;
            font-family: Lato;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            letter-spacing: normal;
            line-height: 26px;
            text-align: left;
            /* Text style for "1," */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            /* Text style for "2     3" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal; }
        .mainProduct .productRight .cardBottom .pages .pagesArrowLeft {
          color: #aaaaaa;
          font-family: "Font Awesome";
          font-size: -20px;
          font-weight: bold;
          font-style: normal;
          letter-spacing: normal;
          line-height: -26.15px;
          text-align: left;
          /* Text style for "" */
          font-style: normal;
          letter-spacing: normal;
          line-height: normal; }
        .mainProduct .productRight .cardBottom .pages .pagesArrowRight {
          color: #f16d7f;
          font-family: "Font Awesome";
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          letter-spacing: normal;
          line-height: 26px;
          text-align: left;
          /* Text style for "" */
          font-style: normal;
          letter-spacing: normal;
          line-height: normal; }
      .mainProduct .productRight .cardBottom .viewAll {
        text-decoration: none;
        width: 150px;
        height: 44px;
        border-radius: 3px;
        border: 1px solid #f16d7f;
        background-color: #ffffff;
        color: #f16d7f;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: left;
        /* Text style for "V, iew All" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        justify-content: center;
        align-items: center;
        transition: 0.2s; }
        .mainProduct .productRight .cardBottom .viewAll:hover {
          background-color: #f16d7f;
          color: #ffffff;
          transform: scale(1.05); }

/*# sourceMappingURL=style.css.map */
